/*
 * Delivery API
 * API para manejar pedidos y entrega de platos de un restaurant
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;



import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class OrdenApi {
    private ApiClient localVarApiClient;

    public OrdenApi() {
        this(Configuration.getDefaultApiClient());
    }

    public OrdenApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for orderClientIdOrderPost
     * @param clientId Referencia de cliente (required)
     * @param body  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Se envio la orden </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error al enviar la orden </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call orderClientIdOrderPostCall(String clientId, List<Object> body, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/order/{clientId}/Order"
            .replaceAll("\\{" + "clientId" + "\\}", localVarApiClient.escapeString(clientId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call orderClientIdOrderPostValidateBeforeCall(String clientId, List<Object> body, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'clientId' is set
        if (clientId == null) {
            throw new ApiException("Missing the required parameter 'clientId' when calling orderClientIdOrderPost(Async)");
        }
        

        okhttp3.Call localVarCall = orderClientIdOrderPostCall(clientId, body, _callback);
        return localVarCall;

    }

    /**
     * Enviar la orden al listado
     * Enviar la orden al listado
     * @param clientId Referencia de cliente (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Se envio la orden </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error al enviar la orden </td><td>  -  </td></tr>
     </table>
     */
    public void orderClientIdOrderPost(String clientId, List<Object> body) throws ApiException {
        orderClientIdOrderPostWithHttpInfo(clientId, body);
    }

    /**
     * Enviar la orden al listado
     * Enviar la orden al listado
     * @param clientId Referencia de cliente (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Se envio la orden </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error al enviar la orden </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> orderClientIdOrderPostWithHttpInfo(String clientId, List<Object> body) throws ApiException {
        okhttp3.Call localVarCall = orderClientIdOrderPostValidateBeforeCall(clientId, body, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Enviar la orden al listado (asynchronously)
     * Enviar la orden al listado
     * @param clientId Referencia de cliente (required)
     * @param body  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Se envio la orden </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Error al enviar la orden </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call orderClientIdOrderPostAsync(String clientId, List<Object> body, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = orderClientIdOrderPostValidateBeforeCall(clientId, body, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for platoPlateIdGet
     * @param plateId Obtener datos del plato (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Informacion del Plato </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No se encuentra el plato </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call platoPlateIdGetCall(String plateId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/plato/{plateId}"
            .replaceAll("\\{" + "plateId" + "\\}", localVarApiClient.escapeString(plateId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call platoPlateIdGetValidateBeforeCall(String plateId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'plateId' is set
        if (plateId == null) {
            throw new ApiException("Missing the required parameter 'plateId' when calling platoPlateIdGet(Async)");
        }
        

        okhttp3.Call localVarCall = platoPlateIdGetCall(plateId, _callback);
        return localVarCall;

    }

    /**
     * Obtener la informacion del plato
     * Obtener la informacion del plato selecionado
     * @param plateId Obtener datos del plato (required)
     * @return List&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Informacion del Plato </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No se encuentra el plato </td><td>  -  </td></tr>
     </table>
     */
    public List<Object> platoPlateIdGet(String plateId) throws ApiException {
        ApiResponse<List<Object>> localVarResp = platoPlateIdGetWithHttpInfo(plateId);
        return localVarResp.getData();
    }

    /**
     * Obtener la informacion del plato
     * Obtener la informacion del plato selecionado
     * @param plateId Obtener datos del plato (required)
     * @return ApiResponse&lt;List&lt;Object&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Informacion del Plato </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No se encuentra el plato </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Object>> platoPlateIdGetWithHttpInfo(String plateId) throws ApiException {
        okhttp3.Call localVarCall = platoPlateIdGetValidateBeforeCall(plateId, null);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Obtener la informacion del plato (asynchronously)
     * Obtener la informacion del plato selecionado
     * @param plateId Obtener datos del plato (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Informacion del Plato </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No se encuentra el plato </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call platoPlateIdGetAsync(String plateId, final ApiCallback<List<Object>> _callback) throws ApiException {

        okhttp3.Call localVarCall = platoPlateIdGetValidateBeforeCall(plateId, _callback);
        Type localVarReturnType = new TypeToken<List<Object>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
